@import url('https://fonts.googleapis.com/css?family=Lato');

*
{
	transition: .2s all;
	font-family: 'Lato';
}




.formulario
{
	margin-top: 20px;
	width: 900px;
	max-width: 90%;
	margin:0 auto;
	padding: 1em;
}

.formulario input, textarea
{
	display: block;
	width: 500px;
	max-width: 90%;
	margin-bottom: 10px;
	margin-top: 10px;
	border:none;
	border-bottom: 0.5px solid rgba(0,0,0,.8);
	padding: 0.5em;
	color: rgba(0,0,0,.7);

}

.formulario input:focus, textarea:focus
{
	outline: none;
	padding-left: 10px;
}

.formulario .sent-data
{
	padding: 1em;
	border:1px solid rgba(17, 131, 207, 0.8);
	background: none;
	color:rgba(17, 131, 207, 0.8);
	cursor: pointer;
}

.formulario .sent-data:hover
{
	padding-left: 20px;
	opacity: .8;
	border-color: #2f323a;
	color:#2f323a;
	border-left: 2px solid #2f323a;
}

.link
{
	text-decoration: none;
	padding: 1em;
	border:none;
	background: rgba(17, 131, 207, 0.8);
	color:white;
	cursor: pointer;
	margin-top:100px;
}

.formulario form
{
	margin: 0 auto;
	width:40%;
}

.formulario label
{
	position: relative;
	text-transform: uppercase;	
	color:rgba(17, 131, 207, 0.8);;
}

label::after
{
	position: absolute;
	content:"";
	background: rgba(17, 131, 207, 0.8);
	border:1px solid rgba(17, 131, 207, 0.8);
	width:20px;
	bottom: -3px;
	left:0;
}
 

.title-main
{
	text-align: center;
	color:rgba(17, 131, 207, 0.8);
	text-transform: uppercase;
	position: relative;
}

.title-back
{
	margin-top: 100px;
}